@import 'partials/variables';

.login {
  background-image: url("https://images.unsplash.com/photo-1522383225653-ed111181a951?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80");
  background-position: center center;
  background-repeat: no-repeat;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  .wrapper {
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    backface-visibility: hidden; // should fix flickering
    -webkit-backface-visibility: hidden;
    background-color: $login-bg;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}